// dark mode colors
$darkest-grey: hsl(227, 75%, 14%);
$darker-grey: hsl(226, 25%, 17%);
$dark-grey: hsl(225, 23%, 24%);
$grey: hsl(226, 11%, 37%);
$dark-gradient: 
    linear-gradient(180deg, #040918 0%, #091540 100%);

// light mode colors
$light-grey: hsl(0, 0%, 78%);
$lighter-grey: hsl(217, 61%, 90%);
$lightest-grey: hsl(200, 60%, 99%);
$white: hsl(0, 0%, 93%);
$light-gradient: 
    linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);

// accents (red)
$red-400: hsl(3, 86%, 64%);
$red-500: hsl(3, 71%, 56%);
$red-700: hsl(3, 77%, 44%);